<div class="navbar">
    <div routerLink="/bienvenido">
        <span>Home</span>
    </div>
    <div routerLink="/peliculas/alta"> 
        <span>Alta Peliculas</span>
    </div>
    <div routerLink="/actor/listado">
        <span>Actores</span>
    </div>
    <div routerLink="/busqueda">
        <span>Busqueda</span>
    </div>
</div>
<div class="row">
    <div class="column">
       <app-tabla-pelicula (output_tablaPelicula)="peliParaDetalle($event)" [input_tablaPelicula]="listadoPeliculas"></app-tabla-pelicula>  
    </div>
    <div class="column">
        <app-detalle-pelicula (output_detallesPelicula)="Borrar($event)" [input_detallesPelicula]="peliDetalle"></app-detalle-pelicula>
    </div>
</div>