<div class="navbar">
    <div routerLink="/bienvenido">
        <span>Home</span>
    </div>
    <div routerLink="/peliculas/listado">
        <span>Peliculas</span>
    </div>
    <div routerLink="/peliculas/alta"> 
        <span>Alta Peliculas</span>
    </div>
    <div routerLink="/busqueda">
        <span>Busqueda</span>
    </div>
</div>
<div class="row">
    <div class="column">
       <app-tabla-actor [input_tablaActores]="listadoActores" [boton_tablaActores]='false'></app-tabla-actor>  
    </div>
    <div class="column">
    </div>
</div>