table {
    width: 90%;
    text-align: center;
    height: 90%;

  }

  tr:hover {background-color: #f5f5f5;}

  td{
    border-top: 1px solid #ddd;
  }

  div.container{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }

  img{
    width: 15px;
    height: 15px;
  }
