<div *ngIf="input_detallesPelicula" class="container">
    <div class="lista">
        <span class="titulos">Pelicula</span>
        <ul>
            <li>{{input_detallesPelicula.id}}</li>
            <li>{{input_detallesPelicula.nombre}}</li>
            <li>{{input_detallesPelicula.tipo}}</li>
            <li>{{input_detallesPelicula.fechaEstreno}}</li>
            <li>{{input_detallesPelicula.cantidadPublico}}</li>
        </ul>
    </div>
    <div class="lista" *ngIf="actores_detallePelicula">
        <span class="titulos">Actores</span>
        <ul *ngFor="let actor of input_detallesPelicula.actores">
            <li>{{actor.id}}</li>
            <li>{{actor.nombre}}</li>
            <li>{{actor.apellido}}</li>
        </ul>
    </div>
    <div class="foto">
      <img src={{input_detallesPelicula.fotoPelicula}} alt="Imagen de pelicula" >
    </div>
    <div class="boton">
        <button type="button" (click)="limpiar()">Limpiar</button>
        <button type="button" (click)="Borrar()">Borrar</button>
    </div>
</div>